.article {
    padding: 10px 0;
    width: 250px;
    height: 380px;
    border: solid 1px rgb(210, 210, 210);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #ffffff;


}

.image {
    width: 150px;

    height: auto;
}

.dataProduct {
    width: 100%;
    padding: 5%;
    padding-bottom: 0;
}

.titleCard, .priceCard {

    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: -1.5px;

}

.priceCard {

    margin: 10px 0;
    color: red;
}

.categoryCard {
    color: #909090;
    font-weight: 400;
}

@media only screen and (max-width: 480px) {
  /* Estilos para celulares */

.article {
    width: 100%;
    border: none;
    }

    .titleCard, .priceCard {

    font-size: 20px;
}
}


