.panelStyle {
    width: 'auto';
    height: 'auto';
    background-color: '#fff';
    position: 'fixed';
    top: '10vh';
    right: '2%';
    /*display: abierto ? 'block' : 'none'; */
    padding: '20px';
    box-shadow: '0 2px 5px rgba(0,0,0,0.2)';
    border-radius: '0 0 10px 10px';
    z-index: '1';
    overflow-y: 'auto';
    color: 'black';
}

.botonStyle {
    background-color: "#ffffff00";
    color: "white";
    border: 'none';
    cursor: 'pointer';
    z-index: 1100;
    font-size: '35px';
    padding: '10px 20px';
    display: "flex";
    align-items: "center";
}

.contadorStyle {
    
    background-color: 'red';
    color: 'white';
    border-radius: '50%';
    padding: '4px 8px';
    font-size: '12px';
}

.totalStyle {
    margin: '2% 0';
}